<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

	<!-- HediffHideModeSetting -->
	<HediffHideModeSetting_Title>Hide standard sub-parts</HediffHideModeSetting_Title>
	<HediffHideModeSetting_Description>Choose when standard subparts should be hidden in the Health Overview tab.
 - Always: standard sub-parts will be always hidden
 - Never: standard sub-parts will be always visible
 - Clean: standard sub-parts will be hidden when there are no other hediffs on their part</HediffHideModeSetting_Description>
	<HediffHideModeSetting_Always>Always</HediffHideModeSetting_Always>
	<HediffHideModeSetting_Never>Never</HediffHideModeSetting_Never>
	<HediffHideModeSetting_Clean>Clean</HediffHideModeSetting_Clean>

	<!-- RemoveAllFromSegmentSetting -->
	<RemoveAllFromSegmentSetting_Title>Remove all sub-parts from segment version</RemoveAllFromSegmentSetting_Title>
	<RemoveAllFromSegmentSetting_Description>Enabling this will remove and spawn all sub-parts after switching a prosthetic to Segment version.</RemoveAllFromSegmentSetting_Description>

</LanguageData>